html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    white-space: normal;
    word-break: break-word;
    background-color: white;
}

#nav{
    background-color: pink;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0%;
    margin-bottom: 10px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.icons{
    font-size: xx-large;
}

#tabs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    
}

.tab{
    text-align: center;
}

h3{
    color: pink;
}

#icon{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    position: absolute;
    right: 0%;
    width: 30%;
    height: 100%;
}

#intro{
    color: aliceblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    margin-top: 10%;

    font-size: 50px;
    background-image: url(cake1.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    height: 100%; 
}

@media (max-width:800px){
    #intro{
    color: aliceblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    margin-top: 20%;

    font-size: 30px;
}

#nav{
    background-color: pink;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: 10px;
}

.icons{
    font-size: medium ;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    right: 0%;
    width: 50%;
    height: 100%;
}

}