html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

#container{
    display: flex;
    width: 80%;
    border: 2px solid black;
    margin: 30px auto;
    gap: 30px;
    height: 80%;
    flex-direction: column;
    border-radius: 10px;
    background-color: pink;
    position: relative;
}

#contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background-color: pink;

}

.warn1, .warn2, .warn3, .warn4{
    display: none;
}

.warning{
    display: none;
}

input{
    width: 80%;
}

#submit{
    position: absolute;
    bottom: 10px;
    left: 30px;
    
}